Exports/SanJose/*.fbx filter=lfs diff=lfs merge=lfs -text
Exports/Adi/** filter=lfs diff=lfs merge=lfs -text
Exports/Garage1/** filter=lfs diff=lfs merge=lfs -text
Exports/Garage2/** filter=lfs diff=lfs merge=lfs -text
Exports/SanJose(Full)/** filter=lfs diff=lfs merge=lfs -text
Exports/SanJose(UE4)/**/*.uasset filter=lfs diff=lfs merge=lfs -text
Exports/SanJose(UE4)/**/*.umap filter=lfs diff=lfs merge=lfs -text
Exports/SanJose(UE4)/**/*.fbx filter=lfs diff=lfs merge=lfs -text
Exports/SanJose(UE4)/**/*.png filter=lfs diff=lfs merge=lfs -text
ModularParkGarage/Content/Garages/*.umap filter=lfs diff=lfs merge=lfs -text
